ul {
	width: 100%;
	list-style: none;
	display: inline-block;
	margin: 20px 0;
	padding: 0;
	box-sizing: border-box;
}

ul li {
	width: 100%;
	margin: 10px 0;
	display: flex;
}

.poster {
	float: left;
	width: 100px;
	margin-right: 15px;
}